<!DOCTYPE html>
<html ng-app="myApp">

<head>
	
	<link href="libs/bootstrap-3.3-2.6-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	 
	<script src="libs/bootstrap-3.3-2.6-dist/js/bootstrap.min.js"></script>
	<script src="libs/angular.min.js"></script>
	
</head>
	
<body>
	
	<div class="container" ng-controller="MainCtrl">
	
		<h1>Users</h1>

		<label>Enter name</label>
		<input ng-model="user.name" type="text" class="form-control">
		
		<label>Enter surname</label>
		<input ng-model="user.surename" type="text" class="form-control">
		</br>
	
		<div class="btn btn-block btn-primary" ng-click="addUser()">Add User</div>

	<table class="table">
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Surename
				</th>
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="myUser in users">
				<td>
					{{myUser.name}}
				</td>
				<td>
					{{myUser.surename}}
				</td>
				<td>
					<div ng-click="removeUser(user)" class="btn btn-xs btn-danger">Remove</div>
				</td>
			</tr>
		</tbody>
	</table>
	</div>
	
</body>	
	<script src="js/app.js"></script>
	
</html>